.image {
  border: none;
  outline: none;
  background: rgb(64, 162, 207);
  color: white;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transition: all .3s;
  margin-bottom: 10px;
  margin-left: 10px;
}

.image:hover {
  background: #1372f3;
}
