.container {
  display: flex;
  justify-content: center;
}
.client-card {
  width: 1000px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header-container {
  display: flex;
  justify-content: space-between;
}
.card-avatar {
  width: 200px;
  height: 200px;
}
