<div class="container">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="accountType">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.accountType}} </td>
    </ng-container>

    <ng-container matColumnDef="accountStatus">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency</th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="onToggleAccountStatus(element.accountNumber)">{{element.accountStatus === "open" ? 'Close Account' : 'Open Account'}}</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
